In [2]:
from bs4 import BeautifulSoup
from geopy.geocoders import Nominatim
import psycopg2
import numpy as np
import pandas as pd
import time
import re
import requests
from tqdm import tqdm_notebook

In [3]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

##### DB connection

In [97]:
con = psycopg2.connect(
  database="postgres", 
  user="ds", 
  password="cxXl5o", 
  host="192.168.1.44", 
  port="5432"
)

print("Database opened successfully")

Database opened successfully

##### Rollback (run if exception rises)

In [98]:
curs = con.cursor()
curs.execute("ROLLBACK")
con.commit()

##### Getting adresses

In [99]:
cur = con.cursor()  
cur.execute('''
SELECT DISTINCT "Точный_адрес" FROM public."Resident" WHERE "Город" = 'Москва'
''')
  
rows = cur.fetchall()

con.close()

##### DF from list of tuples

In [100]:
df = pd.DataFrame(data=rows[:10], columns=['Adress_or_code',]).dropna()
df.shape

(10, 1)

### Columns:

##### Adress:
adress (example: '1-й Кожуховский проезд, 19к1, Даниловский, Москва') - Property for sale,

1 - School,

2 - Park,

3 - Polyclinics

##### Longitude 
...

##### Latitude
...

##### Region (areas where are situated clusters of buidings)
1, 2, 3...

##### Filling longitude and latitude (defs)

In [101]:
nom = Nominatim()

def geocode_nontype_longitude(ad):
    try: 
        return nom.geocode(ad).longitude
    except:
        pass
    
def geocode_nontype_latitude(ad):
    try: 
        return nom.geocode(ad).latitude
    except:
        pass

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.

##### Filling longitude and latitude (property)

In [102]:
df['Longitude'] = df['Adress_or_code'].apply(geocode_nontype_longitude)
df['Latitude'] = df['Adress_or_code'].apply(geocode_nontype_latitude)

df = df.dropna()

In [103]:
df.head(20)

                                      Adress_or_code  Longitude   Latitude
0  12-я Новокузьминская улица, 2/8, Рязанский, Мо...  37.783279  55.716487
4  1-й Зачатьевский переулок, дом 5, Хамовники, М...  37.604655  55.739489
5  1-й Кожуховский проезд, 19к1, Даниловский, Москва  37.659138  55.704792

##### Filling longitude and latitude (schools)

In [144]:
df_schools = pd.read_csv('Schools.csv', delimiter=';')[['yuridich_adress']][:3]

df_schools['Longitude'] = df_schools['yuridich_adress'].apply(geocode_nontype_longitude)
df_schools['Latitude'] = df_schools['yuridich_adress'].apply(geocode_nontype_latitude)
temp_array = np.empty(df_schools.shape[0])
temp_array.fill(1)
df_schools['Adress'] = temp_array

df_schools = df_schools.dropna().drop(columns = 'yuridich_adress')

In [145]:
df_schools.head(20)

   Longitude   Latitude  Adress
2  37.535837  55.730864     1.0

##### Filling longitude and latitude (parks)

In [152]:
df_parks = pd.read_json('Parks.json')[['geoData']]

df_parks['Longitude'] = df_parks['geoData'].apply(lambda ad: ad['coordinates'][0][0])
df_parks['Latitude'] = df_parks['geoData'].apply(lambda ad: ad['coordinates'][0][1])
temp_array = np.empty(df_parks.shape[0])
temp_array.fill(2)
df_parks['Adress'] = temp_array

df_parks = df_parks.dropna().drop(columns = 'geoData')

In [153]:
df_parks.head(20)

    Longitude   Latitude  Adress
0   37.536723  55.474198     2.0
1   37.242608  55.447989     2.0
2   37.375337  55.372366     2.0
3   37.270073  55.326167     2.0
4   37.327892  55.444903     2.0
5   37.510592  55.448994     2.0
6   37.348638  55.325664     2.0
7   37.275195  55.431199     2.0
8   37.485441  55.500569     2.0
9   37.403570  55.417608     2.0
10  37.182174  55.412745     2.0
11  37.510324  55.486003     2.0
12  37.502215  55.488211     2.0
13  37.180937  55.318960     2.0
14  37.073233  55.212950     2.0
15  37.345780  55.596962     2.0
16  37.231807  55.565309     2.0
17  37.208187  55.595728     2.0
18  37.107805  55.593596     2.0
19  37.472527  55.619531     2.0

##### Filling longitude and latitude (polyclinics)

In [154]:
df_polyclinics = pd.read_csv('Polyclinics.csv', delimiter=';')[['geoData']]

pattern = re.compile(r'[0-9]+.[0-9]+')

df_polyclinics['Longitude'] = df_polyclinics['geoData'].apply(lambda ad: float(re.findall(pattern, ad)[0]))
df_polyclinics['Latitude'] = df_polyclinics['geoData'].apply(lambda ad: float(re.findall(pattern, ad)[1]))
temp_array = np.empty(df_polyclinics.shape[0])
temp_array.fill(3)
df_polyclinics['Adress'] = temp_array


df_polyclinics = df_polyclinics.dropna().drop(columns = 'geoData')

In [155]:
df_polyclinics.head(20)

    Longitude   Latitude  Adress
0   37.536723  55.474198     3.0
1   37.242608  55.447989     3.0
2   37.375337  55.372366     3.0
3   37.270073  55.326167     3.0
4   37.327892  55.444903     3.0
5   37.510592  55.448994     3.0
6   37.348638  55.325664     3.0
7   37.275195  55.431199     3.0
8   37.485441  55.500569     3.0
9   37.403570  55.417608     3.0
10  37.182174  55.412745     3.0
11  37.510324  55.486003     3.0
12  37.502215  55.488211     3.0
13  37.180937  55.318960     3.0
14  37.073233  55.212950     3.0
15  37.345780  55.596962     3.0
16  37.231807  55.565309     3.0
17  37.208187  55.595728     3.0
18  37.107805  55.593596     3.0
19  37.472527  55.619531     3.0

In [156]:
# pd.concat